{% extends 'university_timetable/lectureroom/lectureroom_detail.html'%}


{% block form_title %}<form action="{% url 'university_timetable:lectureroom_create' %}" method="post">{% endblock%}

{% block form %}
    <div class ="form-group row">            
        <table>
            <div class="col-sm-10">
                {{form.as_table}}
            </div>
        </table>
    </div>
{% endblock %}

{% block buttons %}
<input class="btn-outline-dark btn-sm" type="submit" value="Создать">
{% endblock %}

