{% extends 'university_timetable/index_base.html'%}

{% block title %}
{% endblock %}

{% block content %}
<style>
.box{
    background: Gainsboro;
    padding: 20px;
}
</style>  
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                <a href="{% url 'university_timetable:teachers' %}" class="btn btn-outline-dark btn-sm" role="button" >
                        Назад 
                </a>
            </div>
        </div>

        <div class="row-cols-1 text-center box"><h2 >{{cur_teacher.LastName}} {{cur_teacher.FirstName}} {{cur_teacher.Patronymic}}</h2></div>
        <div class="row-cols-1 text-center font-italic"><strong>{{cur_teacher.TeacherPosition}}</strong> кафедры {{cur_teacher.Department}}</div><br>
        <div class="row-cols-1 text-left"><h4>Контактная информация</h4></div>
        <br>
        <div class="row">
            <div class="col-3">
                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <td><strong>Номер телефона</strong></td>
                        <td>{{cur_teacher.PhoneNumber}}</td>
                    </tr>
                    <tr>
                        <td><strong>Email адрес</strong></td>
                        <td>{{cur_teacher.Email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-col-1 text-left"><h4>Преподает в группах</h4></div>
        <br>
        <div class="row">    
            <div class="col-3">
                <div id="accordion">
                    {% for group in cur_teacher.groups.all%}   
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{group.Id}}">
                                    {{group.GroupName}}
                                </a>
                            </div>
                            <div id="collapse{{group.Id}}" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    {% for disc in cur_teacher.disciplines.all%}
                                        {% for help in group.disciplines.all %}
                                            {% if disc.Id == help.Id %}
                                            <p>{{disc.Name}}</p>
                                            {% endif%}
                                        {% endfor%}
                                    {% endfor%}
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                </div>
            </div>  
        </div> 
        
        <br>
    </div>

    
{% endblock%}
