{% extends 'university_timetable/index_base.html'%}

{% block title %}
{% endblock %}

{% block content %}

    <br>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <a href="{% url 'university_timetable:groups' %}" class="btn btn-outline-dark btn-sm" role="button" >
                        Назад 
                </a>
            </div>
            <div class="col-6">Группа</div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
    
        {% block form_title %}<form action="{% url 'university_timetable:group' group.Id %}"  method="get">{%endblock%}
            {% csrf_token %}
            {% block form %}
            <div class ="form-group row">            
                <table>
                    {% for field in form %}
                        <tr>
                                <th><b> {{field.label_tag}} </b></th>
                                <td> {{field.value}} </td>
                                
                        </tr>
                        <div class="error">{{field.errors}}</div>
                    {% endfor %}
                </table>
            </div>
            {% endblock %}
            
            {% block buttons %}{% endblock %}

        </form>
    </div>
{% endblock%}
