{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'js/popper.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    {% block title %}
    {% endblock %}
  </head>

  
  <body>    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url university_timetable:timetable_index %}">Расписание</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" id="TeacherElem">
                        <a class="nav-link" href="{% url 'university_timetable:teachers'%}">Преподаватели <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" id="GroupElem">
                        <a class="nav-link" href="{% url 'university_timetable:groups'%}">Группы</a>
                    </li>
                    <li class="nav-item" id="DisciplineElem">
                        <a class="nav-link" href="{% url 'university_timetable:disciplines'%}">Дисциплины</a>
                    </li>
                    <li class="nav-item " id="LectureRoomElem">
                        <a class="nav-link" href="{% url 'university_timetable:lecturerooms'%}">Аудитории</a>
                    </li>
                    <li class="nav-item " id="BuildingElem">
                        <a class="nav-link" href="{% url 'university_timetable:buildings'%}">Корпуса</a>
                    </li>
                </ul>
            </div>
    </nav>
    
    {% block content %}
    {% endblock %}
    
  </body>
</html>
