{% extends 'university_timetable/index_base.html'%}

{% block title %}
    <h1>Преподаватели</h1>
    <br>
{% endblock %}

{% block content %}
    {% for teacher in teaches_list %}
        <li><a href="{% url 'university_timetable:teacher' teacher.PersonnelNumber %}">{{teacher.FirstName}} {{teacher.LastName}}</a></li>
    <br>
    {% endfor %}

    <nav class="navbar navbar-expend-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="img/teacher.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#" class="nav-link">Дисциплины</a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">Группы</a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">Пары</a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">Аудитории</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

{% endblock%}
