{% extends 'university_timetable/index_base.html'%}

{% block title %}
{% endblock %}


{% block content %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();

                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>

    <h1  align="center">Расписание</h1>
    <hr noshade="noshade" width="80%" color="#d0d0d0" />

    <h3  align="center">Выберите группу:</h3>

    {% for name in groups_list %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                   <p><a href="{% url 'university_timetable:timetable_detail' %}">{{name.GroupName}}</a></p>
                </div>

            </div>
        </div>
    {% endfor %}

{% endblock%}
