{% extends 'university_timetable/discipline/discipline_detail.html'%}


{% block form_title %}<form  id="updateForm" action="{% url 'university_timetable:discipline_update' discipline.Id %}" method="post">{% endblock%}
{% block form %}
    <div class ="form-group row">            
        <table>
            <div class="col-sm-10">
                {{form.as_table}}
            </div>
        </table>
    </div>
{% endblock %}
{% block buttons %}


<button id="update-btn" class="btn-outline-dark btn-sm">Изменить</button>
{% endblock %}

